.wrapper
{
    display: inline-block;
}
#menu
{
    position: absolute;
    right: 55px;
    top: 50px;
    list-style: none;
    transition:  opacity 0.5s;
    @media (max-width: 640px) {
        right: 0px;
    }
}
#menu.close
{
    opacity: 0;
    visibility: hidden;
}
.menu_item
{
    text-align: center;
    background-color: rgb(241, 233, 210);
    padding: 5px 5px 5px 5px;
}
.menu_item:hover
{
    border: 1px outset rebeccapurple;
    cursor: pointer;
}
.icon
{
    cursor: pointer;
}
