#searchbar { 
    font-weight: 100;
    width:200px;
    padding:3px 30px 2px 11px;
    margin:5px 5px 5px 5px;
    border: 1px outset transparent;
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px;
    transition: all 0.35s;
}

#searchbar.close { 
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
} 
