<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css" />
<div style="text-align:center">
  <app-user-menu></app-user-menu>
  <app-search-bar></app-search-bar>
  <app-nav-bar></app-nav-bar>
  <!-- //user button 
    //logout
    //edit
    //note to zain
  //search bar
  //profile
  //feed -->
</div>


