<div class="top_right">
  <div style="display: inline-block;">
      <app-search-bar></app-search-bar>
  </div>
  <div style="display: inline-block;">
      <app-user-menu></app-user-menu>
  </div>
</div>
<nav class="nav">
    <div #burger class="burger" (click)="openMenu()">
      <div class="burger__patty"></div>
    </div>
  
    <ul #nav__list class="nav__list" [dragula]='"first-bag"'>
      <li class="nav__item">
        <a class="boxclose" id="boxclose"></a>
        <a href="#1" class="nav__link c-blue"><fa name="cog" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a class="boxclose" id="boxclose"></a>
        <a href="#2" class="nav__link c-yellow scrolly"><fa name="bolt" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a class="boxclose" id="boxclose"></a>
        <a href="#3" class="nav__link c-red"><fa name="music" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a class="boxclose" id="boxclose"></a>
        <a href="#4" class="nav__link c-green"><fa name="paper-plane" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a class="boxclose" id="boxclose"></a>
        <a href="#5" class="nav__link c-green"><fa name="camera-retro" animation="bounce"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#6" class="nav__link c-green"><fa name="car" animation="bounce"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#7" class="nav__link c-green"><fa name="user" animation="bounce"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#7" class="nav__link c-green"><fa name="key" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#8" class="nav__link c-green"><fa name="lock" animation="spin"></fa></a>
      </li>
    </ul>
  </nav>