<nav class="nav">
    <div #burger class="burger" (click)="openMenu()">
      <div class="burger__patty"></div>
    </div>
  
    <ul #nav__list class="nav__list">
      <li class="nav__item">
        <a href="#1" class="nav__link c-blue"><fa name="cog" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#2" class="nav__link c-yellow scrolly"><fa name="bolt" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#3" class="nav__link c-red"><fa name="music" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#4" class="nav__link c-green"><fa name="paper-plane" animation="spin"></fa></a>
      </li>
      <li class="nav__item">
        <a href="#5" class="nav__link c-green"><fa name="camera-retro" animation="bounce"></fa></a>
      </li>
    </ul>
    
  </nav>
  
  <section class="panel b-blue" id="1">
    First
  </section>
  <section class="panel b-yellow" id="2">
    Second
  </section>
  <section class="panel b-red" id="3">
    Third
  </section>
  <section class="panel b-green" id="4">
    Fourth
  </section>
  <section class="panel b-green" id="5">
    Fifth
  </section>