/* You can add global styles to this file, and also import other style files */

.main-body
{
    background-image:url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    font-weight: 100;
}
fa:hover
{
    cursor: pointer;
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: silver;
    font-weight: 420;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: silver;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:silver;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: silver;
  }
