/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/quill/dist/quill.bubble.css';
@import '../node_modules/dragula/dist/dragula.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
.main-body
{
    width: 100%;
    background-image:url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/new-japanese-artistic-cloud-of-yokoyama-taikan-sawako-utsumi.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    font-weight: 100;
}
.tweet
{
    margin: 0 auto;
    width: 20%;
}
fa:hover
{
    cursor: pointer;
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: silver;
    font-weight: 420;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: silver;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:silver;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: silver;
  }
